body {
  font-family: "Bank Gothic", "Futura", "Arial";
  background-color: black;
  color: white;
}

#laps {
  text-align: center;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%
}

img {
  display: block;
  margin: auto;
}

#timer {
  font-size: 60px;
  font-family: "Bank Gothic", "Futura", "Arial";
  text-align: center;
  padding-bottom: 20px;
}

#buttons {
  text-align: center;
}

.button {
  background: none;
  border-width: 2px;
  border-style: solid;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}

#start {
  background-color: rgb(49, 93, 49);
  color: rgb(16, 190, 16);
  border-color: rgb(49, 93, 49);
}

#start:hover {
  color: rgb(49, 93, 49);
  background-color: rgb(16, 190, 16);
  border-color: rgb(16, 190, 16);
}

#lap {
  background-color: rgb(176, 182, 57);
  color: rgb(239, 255, 66);
  border-color: rgb(176, 182, 57);
}

#lap:hover {
  color: rgb(176, 182, 57);
  background-color: rgb(239, 255, 66);
  border-color: rgb(239, 255, 66);
}

#stop {
  background-color: rgb(104, 34, 49);
  color: rgb(218, 11, 35);
  border-color: rgb(104, 34, 49);
}

#stop:hover {
  color: rgb(104, 34, 49);
  background-color: rgb(218, 11, 35);
  border-color: rgb(218, 11, 35);
}

#reset {
  background-color: rgb(81, 83, 81);
  color: rgb(158, 160, 158);
  border-color: rgb(81, 83, 81);
}

#reset:hover {
  color: rgb(81, 83, 81);
  background-color: rgb(158, 160, 158);
  border-color: rgb(158, 160, 158);
}

@media screen and (max-width: 600px) {
  #timer {
    font-size: 40px;
  }

  #laps {
    margin-left: 10%;
    margin-right: 10%;
  }

  .button {
    width: 60px;
    height: 60px;
    font-size: 14px;
    margin: 10px;
  }

  #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}